<!DOCTYPE html>
<html>
    <head>
        {% block titulo%}

        {% endblock %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Página Inicial</a>
                <a href="/cursos">Cursos Disponíveis</a>
                <a href="/cursos/devweb">Desenvolvimento Web</a>
                <a href="/cursos/poo">Programação Orientada a Objetos</a>
            </nav>
        </header>
        <main>
            {% block conteudo %}

            {% endblock%}
        </main>
        <footer>
            <p>Rodapé do Projeto de Demonstração</p>
        </footer>
    </body>
</html>