<!DOCTYPE html>
<html>
    <head>
        <title>POO</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1>Bem-vindo ao curso de Programação Orientada a Objetos!</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque recusandae nobis officia nemo dignissimos, incidunt harum saepe assumenda laudantium et quam. Soluta, voluptatibus tempore expedita excepturi molestiae fuga! Ab, accusantium.</p>
    </body>
</html>