.div1{
    background-color: gray;
    width: 100px;
    height: 100px;
    position: sticky;
    top: 0;
}

.div2{
    background-color: blue;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 40px;
}

@media screen and (max-width: 900px){
    .div2{
        width: 100%;
    }
}

.div3{
    background-color: darkviolet;
    width: 100px;
    height: 100px;
}

.div4{
    background-color: saddlebrown;
    width: 100px;
    height: 100px;
}